<!--     Client testimonial section start    -->
          
          <div class="client_testimonials_section">
            <h2>Client Testimonials</h2>
            <div class="row">
            <div class="col-md-6"> 
              <div class="banner-content">
                <img src="{{ '01-home-12.png' | asset_url }}"/>
                <img class="star-review" src="{{ 'star.png' | asset_url }}"/>
                <p>"The team could answer every question I asked in a manner I could understand. Plus I have no problems with my new system."</p>
                <h3>Rena </h3>
                <span>1 day ago</span>
              </div>
            </div>
            
            <div class="col-md-6"> 
              <div class="banner-content">
                <img src="{{ 'user-icon2.png' | asset_url }}"/>
                <img class="star-review" src="{{ 'star.png' | asset_url }}"/>
                <p>"Our latest purchase with 24HSP was an Inverter/charger for our Motorhome. Once again great service and pricing. Prompt delivery. Thanks again Mike and Janine"</p>
                <h3>Grant </h3>
                <span>1 day ago</span>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-6"> 
              <div class="banner-content">
                <img src="{{ 'user-icon2.png' | asset_url }}"/>
                <img class="star-review" src="{{ 'star.png' | asset_url }}"/>
                <p>"Mike and the team saved us thousands in money and time. Strongly recommend to all! Thanks"</p>
                <h3>Brett </h3>
                <span>1 day ago</span>
              </div>
            </div>
              
            <div class="col-md-6"> 
              <div class="banner-content">
                <img src="{{ '01-home-12.png' | asset_url }}"/>
                <img class="star-review" src="{{ 'star.png' | asset_url }}"/>
                <p>"Good communication , product was great price and as described.Posted on-time and was easy to install."</p>
                <h3>Larissa </h3>
                <span>1 day ago</span>
              </div>
            </div>
            
            
            </div>
          </div>
          
          <!--     Client testimonial section end   -->

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
